<ion-header no-border>
    <!-- para cambiar el color al toolbar, mismas clases de boostrap -->
    <ion-toolbar color="dark">
        <ion-title>
            Pendientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-list color="dark">
        <!-- visualizacion para poder ver detalles detail -->
        <ion-item *ngFor="let item of listaDePendientes" detail color="dark">
            <ion-label>{{item.titulo}}</ion-label>
        </ion-item>
    </ion-list>
    <!-- boton para llevarme a agregar lista el componente agregar mediante la funcion agregarLista dentro de esta componente-->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="agregarLista()">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>