<ion-header no-border>
    <!-- para cambiar el color al toolbar, mismas clases de boostrap -->
    <ion-toolbar color="dark">
        <ion-title>
            Pendientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-list color="dark">
        <!-- visualizacion para poder ver detalles detail -->
        <ion-item *ngFor="let item of listaDePendientes" detail color="dark">
            <ion-label>{{item.titulo}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>